* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER BOX */
header {
    background-color: #5e9e31;
    padding: 1em 10em;
}

/* NAVIGATION */
#logo {
    width: 10em;
    height: auto;
    border-radius: 75px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.secondary, a:link {
    font-size: 18px;
    color: rgb(252, 188, 49);
    text-decoration: none;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 7em 0;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.welcome button {
    border: none;
}

.image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0 6em 0;
    flex-wrap: wrap;
}



.card {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    text-align: center;
    max-width: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.square {
    box-sizing: border-box;
    border: 5px solid #ff961f;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    padding: 5px 10px;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
    color:#1f2937;
    max-width: 600px;
    align-self: center;
    padding-top: 30px;
}

.quote p {
    align-self: center;
    padding-left: 9em;
    font-weight: 700;
    font-size: 24px;
    color: #1f2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.container button {
    border: 2px solid;
}

strong {
    font-size: 25px;
    color: #FFF;
}

footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}